<?xml version='1.0' encoding='utf-8'?>
<widget id="com.starkindustries.karen" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>K.A.R.E.N. OS</name>
    <description>
        Inteligência Artificial Nativa do Traje do Homem-Aranha.
    </description>
    <author email="peter.parker@starkindustries.com" href="http://ironman.com">
        Peter Parker
    </author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-battery-status" spec="^2.0.3" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
        <preference name="android-targetSdkVersion" value="34" />
    </platform>
</widget>
